In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import concurrent.futures

In [11]:
df = pd.read_csv("data/100x100.csv")
data_matrix = df.pivot(index='u_id', columns='a_id', values='score').fillna(0)
print(data_matrix.shape)

(98, 97)

In [12]:
delta=df[['u_id', 'a_id', 'score']]
delta

      u_id   a_id  score
0        0  31240      9
1       16  31240      8
2       31  31240      9
3       50  31240      9
4       77  31240      4
...    ...    ...    ...
1786  1098  28623      8
1787  1349  28623      8
1788  1484  28623      4
1789  3413  28623      6
1790  8074  28623      6

[1791 rows x 3 columns]

In [13]:
def user_id_to_index():
    for idx in range(len(data_matrix.index)):
        u_id = data_matrix.index[idx]
        user_id_to_index[u_id] = idx
    return user_id_to_index

def anime_id_to_index():
    for idx in range(len(data_matrix.columns)):
        a_id = data_matrix.columns[idx]
        anime_id_to_index[a_id] = idx
    return anime_id_to_index